* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgb(82, 122, 122), black);
}

.container {
  display: grid;
  grid-auto-rows: 60px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
}

.box {
  /* border: 1px solid red; */
}

.box1 {
  grid-column: 1/3;
  display: flex;
}

.box1 h3 {
  align-self: center;
  margin: auto;
  font-size: 2rem;
}

.box2 {
  grid-row: 2/10;
}

.box3 {
  grid-column: 2;
  grid-row: 2/9;
  overflow-y: auto;
  font-family: sans-serif;
  color: aliceblue;
  background-image: linear-gradient(rgb(82, 122, 122), black);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 5px rgb(82, 122, 122);
}

.img_container {
  display: grid;
  grid-auto-rows: 100%;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  box-shadow: 5px 5px 5px rgb(255, 255, 255);
}

img {
  width: 65%;
  height: auto;
}

.img {
  text-align: center;
  /* border: 1px solid blue; */
}
td {
  padding: 10px;
  border-bottom: 1px solid rgb(0, 229, 255);
  /* border: 1px solid black; */
}
